In [1]:
# extract information with age greater than 25 from the following list of dictionaries
data = [{"First name": "Alice", "Last name": "Feredi", "age": 28}, {"First name": "Bob", "Last name": "Temuri", "age": 14}, {"First name": "Daniel", "Last name": "American", "age": 30}]
extracted_data = [item for item in data if item['age'] <20]
extracted_data

[{'First name': 'Bob', 'Last name': 'Temuri', 'age': 14}]

In [16]:
import pandas as pd

In [1]:
# extract information with age greater than 25 from the following list of dictionaries
data = [{"name": "Alice", "age": 28}, {"name": "Bob", "age": 24}, {"name": "Charlie", "age": 30}]
extracted_data = [item for item in data if item['age'] > 25]
extracted_data

[{'name': 'Alice', 'age': 28}, {'name': 'Charlie', 'age': 30}]

In [3]:
# use list comprehension to flatten the matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
# use list comprehension to flatten the matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_matrix = [num for row in matrix for num in row]
flattened_matrix

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# select data in the first column in the matrix
first_column = [row[0]for row in matrix]
first_column

[1, 4, 7]

In [5]:
# select data the last two rows

new_df = matrix[1:] # or ... new_df = matrix[1:]
new_df

[[4, 5, 6], [7, 8, 9]]

In [8]:
# how to flatten a 3d matrix
D3_matrix = [[[1, 2, 3], [1, 2, 3], [1, 2, 3]], [[1, 2, 3], [1, 2, 3], [1, 2, 3]], [[1, 2, 3], [1, 2, 3], [1, 2, 3]]]
D3_matrix

[[[1, 2, 3], [1, 2, 3], [1, 2, 3]],
 [[1, 2, 3], [1, 2, 3], [1, 2, 3]],
 [[1, 2, 3], [1, 2, 3], [1, 2, 3]]]

In [9]:
# use enumerate() for looping to add 5 extra point to each grade in the list, the 5th one add 10 
grades = [88, 92, 78, 65, 50, 94]
grades

[88, 92, 78, 65, 50, 94]

In [10]:
for i, grade in enumerate(grades):
    if i == 4:
        grades[i] = grade + 10
    else:
        grades[i] = grade + 5

grades

[93, 97, 83, 70, 60, 99]

# print the grades if they are prime value 
# Prime value is a number that can only be divided by itself and 1

In [14]:
grades = [88, 92, 3, 65, 50, 94, -10]
for grade in grades:
    if grade < 2:
        continue
    for i in range(2, grade):
        if grade % i == 0:
            break
    else:
        print(grade)

3

In [13]:
# filter out elements depend on their index: 
# use list comprehension and enumerate() to get elements with even index
data = [100, 200, 300, 400, 500]

In [14]:
[item for i, item in enumerate(data) if i%2 == 0]

[100, 300, 500]

In [15]:
# create a dictionary from lists using zip()
keys = ['name', 'age', 'grade']
values = ['Alice', 25, 'A']

In [16]:
{key: value for key, value in zip(keys, values)}

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [17]:
# sort the dictionary based on the ages using lambda
students = [
    {'name': "John", 'grade': "A", 'age': 20}, 
    {'name': "Jane", 'grade': "B", 'age': 21}, 
    {'name': "Joss", 'grade': "A+", 'age': 19}, 
    {'name': "Jack", 'grade': "A-", 'age': 16}, 
    {'name': "Dave", 'grade': "C", 'age': 25}, 
]

In [18]:
sorted(students, key=lambda student: student['age'])

[{'name': 'Jack', 'grade': 'A-', 'age': 16},
 {'name': 'Joss', 'grade': 'A+', 'age': 19},
 {'name': 'John', 'grade': 'A', 'age': 20},
 {'name': 'Jane', 'grade': 'B', 'age': 21},
 {'name': 'Dave', 'grade': 'C', 'age': 25}]

In [21]:
# Sort by age, then by salary if ages are the same
# use lambda
employees = [
    {'name': 'Alice', 'age': 30, 'salary': 80000},
    {'name': 'Bob', 'age': 25, 'salary': 50000},
    {'name': 'Charlie', 'age': 35, 'salary': 120000},
    {'name': 'Charlie', 'age': 35, 'salary': 12000}
]

In [22]:
sorted(employees, key=lambda employee: (employee['age'], employee['salary']))

[{'name': 'Bob', 'age': 25, 'salary': 50000},
 {'name': 'Alice', 'age': 30, 'salary': 80000},
 {'name': 'Charlie', 'age': 35, 'salary': 12000},
 {'name': 'Charlie', 'age': 35, 'salary': 120000}]

In [45]:
# Generators are highly useful in data-heavy applications:

# Reading Large Files: Use generators to read large files line by line without loading the entire file into memory.
# Data Streaming: Stream data entries for real-time data processing.
# Large Calculations: Break down massive calculations into smaller, more manageable chunks.

In [22]:
# Create a Dataframe 3*3

data = {
  "calories": [321, 380, 390],
  "duration": [50, 40, 45],
  "score": [55, 90, 85]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
df

   calories  duration  score
0       321        50     55
1       380        40     90
2       390        45     85

In [ ]:
display(df.loc[;    'duration'])

Print data in the secound row and column in the data frame using loc() or iloc()

In [28]:
# display(df.loc[2: 3]) 
display(df.iloc[[1]])

   calories  duration  score
1       380        40     90

InvalidIndexError: (slice(None, None, None), slice(1, 2, None))